.first{
    width:40%;
    float:left;

}
.Header{
    background-image: url(personal-website/header-bg.png);
    background-repeat:no-repeat;
    background-position: center;  
}
.Header{
    height:800px;
}
.first-Text{
    color: aqua;
    margin-top: auto;
    font-weight: bold;
    font-size: xx-large;
   

}
.first{
    padding-left:40px;
   
}
body{
  font-family: "Roboto", sans-serif;
  font-weight:20px;
  
}
.Hire{
    text-decoration: none;
    background-color: tomato;
    font-weight: bold;
    padding:10px 20px 10px 20px;
    margin-bottom:15px;
    border-radius: 5px;
    color:white;
}
.two{
    width:40%;
    float:left;
}
.CV{
  text-decoration: none;
  color:white;
  font-weight:bold;
  border:10px 20px 10px 20px;
  padding:10px;
  border-radius: 5px;
  background-color: tomato;
  
}
.Biography{
    background-image: url(personal-website/biography-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.Biography{
    height:700px;
}
.third {
    width: 30%;  /* Adjusted width to ensure images fit nicely in the row */
    float: left;
    padding-right: 50px;
    margin-right: 10px;  /* Adds space between the images */
    margin-bottom: 10px;  /* Adds space below each image */
    border-radius: 10px;  /* Optional: Adds rounded corners to images */
    overflow: hidden;  /* Ensures anything outside the container is hidden */
}
.project{
    height:1000px;
}
.project h1 {
  margin-top: auto; /* Push the heading to the bottom of the container */
  text-align: center;
}
.project{
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}