body{
  font-family: "Roboto", sans-serif;
  font-weight: 10px;

} 
.Special{
     color: aqua;
}
h1{
    font-size: 50px;
}
.half-section{
  width:40%;
  height:150px;
  margin-left: 50px;
  padding-left: 30px;
  float:left;
}
half-section img{
  width:100%;
}
.top-banner{
  background-image:url(images/top-banner.png);
  background-repeat: no-repeat;
}
section{
  height:700px;
}
.button{
  text-decoration: none;
  border: 10px;
  border-radius: 5px;
  padding:10px 20px;
  background-color:aqua;
  color:aliceblue;
  font-weight: bold;
}
.section-two{
  width:40%;
  float: left;
}
.Resume{
  background-color: aqua;
  text-decoration: none;
  border-radius: 5px;
  padding:10px 20px;
  color: aliceblue;
  font-weight: bold;
}
.middle-banner{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height:700px;
  
  
}
.third-sction{
  width:40%;
  height:40%;
  margin: 40px;
  padding: 40px;
  margin-right: 40px;
  float:left;

}
.Text-experiences{
  color:aqua;
  font-weight: bold;
}
.third-sction{
  box-shadow: 10px 10px 40px gray;
  height: 50%;
  border-radius: 5px;
}
.Final{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  
}
#Full-stack {
  border-left: 20px solid tomato;
}
#baby-dev{
  border-left:20px solid cornflowerblue;
}
.footer{
  text-align: center;
}